body {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  background-color: #ccc; }
  body.party {
    animation-duration: 30s;
    animation-name: partyMode;
    animation-iteration-count: infinite; }

img {
  image-rendering: pixelated; }

p, span, li {
  font-weight: 300;
  line-height: 1.5; }

a {
  color: initial; }

div#preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background: #ccc;
  z-index: 100; }

img.preloader_animation {
  width: 32px;
  height: auto; }

#wrapper {
  max-width: 40em;
  overflow: auto;
  padding: 1em;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.1); }

header, section, footer {
  clear: both;
  margin-bottom: 1em; }

.collapsible {
  display: block;
  position: relative;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.3);
  max-height: 1em;
  padding: 0.75em;
  margin-bottom: 0.75em; }
  .collapsible.open {
    max-height: none; }
    .collapsible.open > .collapsible_closer::after {
      content: "\25b2"; }
  .collapsible .collapsible_header {
    display: block;
    background: rgba(255, 255, 255, 0.3);
    margin: -0.5em -0.5em 0 -0.5em;
    padding: 0.25em 0.5em;
    height: 1.75rem;
    line-height: 1;
    font-size: 1.5em; }
  .collapsible .collapsible_closer {
    position: absolute;
    display: block;
    width: 1.75em;
    height: 1.75em;
    top: 0.35em;
    right: 0.5em; }
    .collapsible .collapsible_closer::after {
      content: "\25bc";
      color: rgba(0, 0, 0, 0.1);
      line-height: 1;
      font-size: 1.75em; }
  .collapsible .collapsible {
    background-color: transparent;
    padding: 0.5em;
    margin-bottom: 0;
    margin-top: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.1); }
    .collapsible .collapsible .collapsible_header {
      background-color: rgba(0, 0, 0, 0.1);
      font-size: 1em;
      height: 1em;
      margin: -0.5em -0.5em 0;
      padding: 0.5em; }
      .collapsible .collapsible .collapsible_header::after {
        white-space: pre;
        vertical-align: middle; }
    .collapsible .collapsible .collapsible_closer {
      width: 1em;
      height: 1em;
      top: 0.35em; }
      .collapsible .collapsible .collapsible_closer::after {
        font-size: 1em; }
    .collapsible .collapsible.included > .collapsible_header::after {
      content: " \02705"; }
    .collapsible .collapsible.python.green > .collapsible_header::after {
      content: " \1F49A"; }
    .collapsible .collapsible.python.yellow > .collapsible_header::after {
      content: " \1F49B"; }
    .collapsible .collapsible.python.red > .collapsible_header::after {
      content: " \1F494"; }
    .collapsible .collapsible .collapsible .collapsible_header {
      background-color: transparent; }

.conflict-warning {
  font-weight: bold;
  font-style: italic; }

header {
  display: flex; }
  header #mascot {
    width: 19vw;
    height: 19vw;
    padding: 0 3vw; }
  header h1 {
    margin: 0;
    font-size: 6.3vw;
    line-height: 0.8; }
    header h1 strong {
      font-size: 3em;
      display: block;
      line-height: 0.75;
      margin-left: -0.08em; }

form {
  font-weight: 300; }
  form label {
    display: block;
    padding: 0 1em;
    margin: 0;
    font-family: monospace;
    line-height: 2;
    color: rgba(0, 0, 0, 0.5); }
    form label input, form label textarea {
      display: block;
      box-sizing: border-box;
      min-width: 100%;
      min-height: 2em;
      width: calc(100% + 2em);
      max-width: calc(100% + 2em);
      max-height: 80vh;
      margin: 0 -1em 0 -1em;
      padding: 0.25em 1em;
      font-size: 1em;
      font-family: monospace;
      background-color: rgba(255, 255, 255, 0.3);
      border: 0; }
    form label input[type="checkbox"] {
      float: left;
      width: auto;
      margin: 0.5em 1em 0 0; }

pre {
  overflow: scroll;
  color: rgba(0, 0, 0, 0.5); }

img.font-preview {
  display: block;
  width: 100%;
  max-width: 416px; }

.button-group {
  display: flex;
  justify-content: space-between; }
  .button-group label {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .button-group label span {
      font-size: 0.8em;
      line-height: 1.5; }

button {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1.25em;
  font-weight: 100;
  border: 0;
  padding: 0.25em 0.75em;
  cursor: pointer !important; }
  button:hover {
    background-color: black; }

footer p {
  font-size: 0.75em; }

@keyframes partyMode {
  0% {
    background-color: HSL(0, 80%, 70%); }
  14% {
    background-color: HSL(0, 80%, 70%); }
  28% {
    background-color: HSL(50, 80%, 70%); }
  42% {
    background-color: HSL(106, 80%, 70%); }
  56% {
    background-color: HSL(229, 80%, 70%); }
  70% {
    background-color: HSL(260, 80%, 70%); }
  84% {
    background-color: HSL(285, 80%, 70%); }
  100% {
    background-color: HSL(0, 80%, 70%); } }

@media only screen and (min-width: 40em) {
  header #mascot {
    height: 128px;
    width: 128px; }
  header h1 {
    font-size: 2.7em; } }
