$light-gray: #ccc;
$dark-glass: fade-out(#000, 0.9);
$extra-dark-glass: fade-out(#000, 0.5);
$light-glass: fade-out(#fff, 0.7);

$red-ish: HSL(0, 80%, 70%);
$orange-ish: HSL(0, 80%, 70%);
$yellow-ish: HSL(50, 80%, 70%);
$green-ish: HSL(106, 80%, 70%);
$blue-ish: HSL(229, 80%, 70%);
$indigo-ish: HSL(260, 80%, 70%);
$violet-ish: HSL(285, 80%, 70%);

$breakpoint: 40em;

body {
	font-family: sans-serif;
	box-sizing: border-box;
	margin: 0;
	background-color: $light-gray;

	&.party {
		background-image: url('../borksy_bg.gif');
		animation-duration: 30s;
		animation-name: partyMode;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;

		-ms-interpolation-mode: nearest-neighbor; /* IE */
		image-rendering: -moz-crisp-edges; /* FF 6.0+ */
		image-rendering: pixelated;

		.collapsible {
			background-color: #bbb;
		}
	}
}

img {
	/* https://caniuse.com/#search=image-render */
	-ms-interpolation-mode: nearest-neighbor; /* IE */
	image-rendering: -moz-crisp-edges; /* FF 6.0+ */
	image-rendering: pixelated; /* Chrome, Safari */
}

p,
span,
li {
	font-weight: 300;
	line-height: 1.5;
}

a {
	color: initial;
}

div#preloader {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	background: $light-gray;
	z-index: 100;
}

img.preloader_animation {
	width: 32px;
	height: auto;
}

#wrapper {
	max-width: $breakpoint;
	max-width: max(75%, $breakpoint);
	overflow: auto;
	padding: 1em;
	margin: 0 auto;
	background-color: $dark-glass;
}

header,
section,
footer {
	clear: both;
	margin-bottom: 1em;
}

.collapsible {
	background: $light-glass;
	padding: 0.5rem;
	margin-bottom: 0.75em;

	> .collapsible_header {
		background: $light-glass;
		margin: -0.5rem;
		padding: 0.25em 0.5em;
		height: 1.75rem;
		line-height: 1;
		font-size: 1.5em;
		cursor: pointer;
	}

	.collapsible {
		background-color: transparent;
		padding: 0.5em;
		margin-bottom: 0;
		margin-top: 0.5em;
		border: 1px solid $dark-glass;

		> .collapsible_header {
			background-color: $dark-glass;
			font-size: 1em;
			height: 1em;
			padding: 0.5em;
		}

		&.included > .collapsible_header::after {
			content: ' \02705';
		}

		.collapsible {
			> .collapsible_header {
				background-color: transparent;
			}
		}
	}
}

.github-message {
	font-size: 0.75em;
	font-style: italic;
}

.warning {
	font-weight: bold;
	font-style: italic;
}

header {
	display: flex;

	#mascot {
		width: 19vw;
		height: 19vw;
		padding: 0 20px;
		background-image: url(../borksy.gif);
		background-size: contain;
		background-position: top center;
		background-repeat: no-repeat;

		-ms-interpolation-mode: nearest-neighbor; /* IE */
		image-rendering: -moz-crisp-edges; /* FF 6.0+ */
		image-rendering: pixelated;

		&.borksyHD {
			background-image: url('../borksyHD.gif');
		}
	}

	h1 {
		margin: 0;
		font-size: 6.3vw;
		line-height: 0.8;

		strong {
			font-size: 3em;
			display: block;
			line-height: 0.75;
			margin-left: -0.08em;
		}
	}
}

#about {
	.faq {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		blockquote {
			margin: 0;
			font-style: italic;

			> p::before,
			> p::after {
				display: inline;
				content: '"';
			}
		}
	}
}

form {
	font-weight: 300;

	label {
		display: block;
		margin: 0;
		font-family: monospace;
		line-height: 2;
		color: $extra-dark-glass;

		&[data-pre]::before {
			content: attr(data-pre);
		}
		&[data-post]::after {
			content: attr(data-post);
		}

		input,
		textarea {
			display: block;
			box-sizing: border-box;
			min-width: 100%;
			min-height: 2em;
			width: calc(100% + 2em);
			max-width: 100%;
			max-height: 80vh;
			padding: 0.25em 1em;
			font-size: 1em;
			font-family: monospace;
			background-color: $light-glass;
			border: 0;
			tab-size: 2;

			&.half {
				min-width: 50%;
				width: 50%;
			}

			&.inline {
				display: inline-block;
				margin-right: 0.5em;
			}

			&.right {
				text-align: right;
			}
		}
	}
}

pre {
	overflow-x: auto;
	tab-size: 2;
	white-space: pre-wrap;
	padding: 0.25em 1em;
	background-color: $light-glass;
}

img.font-preview {
	display: block;
	width: 100%;
	max-width: 416px;
}

.button-group {
	display: flex;
	justify-content: space-between;

	label {
		display: flex;
		flex-direction: column;
		align-items: center;

		> kbd {
			font-size: 0.8em;
		}
	}
}

button {
	background: $extra-dark-glass;
	color: white;
	font-size: 1.25em;
	font-weight: 100;
	border: 0;
	padding: 0.25em 0.75em;
	cursor: pointer !important;

	&:hover {
		background-color: black;
	}
}

footer {
	p {
		font-size: 0.75em;
	}
}

@keyframes partyMode {
	0% {
		background-color: $red-ish;
		background-position: 0 0;
	}
	14% {
		background-color: $orange-ish;
	}
	28% {
		background-color: $yellow-ish;
	}
	42% {
		background-color: $green-ish;
	}
	56% {
		background-color: $blue-ish;
		background-position: 256px 128px;
	}
	70% {
		background-color: $indigo-ish;
	}
	84% {
		background-color: $violet-ish;
	}
	100% {
		background-color: $red-ish;
		background-position: 0px 256px;
	}
}

@media only screen and (min-width: $breakpoint) {
	header {
		#mascot {
			height: 128px;
			width: 128px;
		}

		h1 {
			font-size: 2.7em;
		}
	}
}
