$light-gray: #ccc;
$dark-glass: fade-out(#000,0.9);
$extra-dark-glass: fade-out(#000,0.5);
$light-glass: fade-out(#fff,0.7);

$red-ish: HSL(0, 80%, 70%);
$orange-ish: HSL(0, 80%, 70%);
$yellow-ish: HSL(50, 80%, 70%);
$green-ish: HSL(106, 80%, 70%);
$blue-ish: HSL(229, 80%, 70%);
$indigo-ish: HSL(260, 80%, 70%);
$violet-ish: HSL(285, 80%, 70%);

$breakpoint: 40em;

html,
body{
	overflow: visible;
	height: 100%;
}

body{
	font-family: sans-serif;
	box-sizing: border-box;
	margin: 0;
	background-color: $light-gray;

	&.party {
		animation-duration: 30s;
		animation-name: partyMode;
		animation-iteration-count: infinite;
	}
}

img{
	image-rendering: pixelated;
}

p,span,li{
	font-weight: 300;
	line-height: 1.5;
}

a{
	color: initial;
}

div#preloader {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	flex-direction: column;
	background: $light-gray;
}

.preloader_animation {
	width: 32px;
	height: 32px;
}

.borksy {
	background-image: url('../borksy.gif');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat no-repeat;
	image-rendering: pixelated;
}

#wrapper{
	max-width: $breakpoint;
	overflow: auto;
	padding: 1em;
	margin: 0 auto;
	background-color: $dark-glass;
	box-sizing: border-box;
	height: 100%;
}

header, section, footer{
	clear: both;
	margin-bottom: 1em;
}

.collapsible{
	display: block;
	position: relative;
	overflow: hidden;
	background: $light-glass;
	max-height: 1em;
	padding: 0.75em;
	margin-bottom: 0.75em;

	&.open{
		max-height: none;

		&> .collapsible_closer::after{
			content: "\25b2";
		}
	}

	.collapsible_header {
		display: block;
		background: $light-glass;
		margin: -0.5em -0.5em 0 -0.5em;
		padding: 0.25em 0.5em;
		height: 1.75rem;
		line-height: 1;
		font-size: 1.5em;
	}

	.collapsible_closer{
		position: absolute;
		display: block;
		width: 1.75em;
		height: 1.75em;
		top: 0.35em;
		right: 0.5em;

		&::after{
			content: "\25bc";
			color: $dark-glass;
			line-height: 1;
			font-size: 1.75em;
		}
	
	}

	.collapsible{
		background-color: transparent;
		padding: 0.5em;
		margin-bottom: 0;
		margin-top: 0.5em;
		border: 1px solid $dark-glass;

		.collapsible_header{
			background-color: $dark-glass;
			font-size: 1em;
			height: 1em;
			margin: -0.5em -0.5em 0;
			padding: 0.5em;

			&::after{
				white-space: pre;
				vertical-align: middle;
			}
		}

		.collapsible_closer{
			width: 1em;
			height: 1em;
			top: 0.35em;

			&::after{
				font-size: 1em;
			}
		}

		&.included > .collapsible_header::after{
			content: " \02705";
		}

		&.python{
			&.green{
				> .collapsible_header::after{
					content: " \1F49A";
				}
			}
			&.yellow{
				> .collapsible_header::after{
					content: " \1F49B";
				}
			}
			&.red{
				> .collapsible_header::after{
					content: " \1F494";
				}
			}
		}

		.collapsible{

			.collapsible_header{
				background-color: transparent;
			}
		}
	}
}

.github-message{
	font-size: 0.75em;
	font-style: italic;
}

.warning {
	font-weight: bold;
	font-style: italic;
}

header{
	display: flex;

	#mascot{
		width: 19vw;
		height: 19vw;
		padding: 0 3vw;
	}

	h1{
		margin: 0;
		font-size: 6.3vw;
		line-height: 0.8;

		strong{
			font-size: 3em;
			display: block;
			line-height: 0.75;
			margin-left: -0.08em;
		}
	}
}

form{
	font-weight: 300;

	label{
		display: block;
		padding: 0 1em;
		margin: 0;
		font-family: monospace;
		line-height: 2;
		color: $extra-dark-glass;

		input,textarea{
			display: block;
			box-sizing: border-box;
			min-width: 100%;
			min-height: 2em;
			width: calc(100% + 2em);
			max-width: calc(100% + 2em);
			max-height: 80vh;
			margin: 0 -1em 0 -1em;
			padding: 0.25em 1em;
			font-size: 1em;
			font-family: monospace;
			background-color: $light-glass;
			border: 0;
			tab-size: 2;

			&.half{
				min-width: 50%;
				width: 50%;
			}

			&.inline{
				display: inline-block;
				margin-right: 0.5em;
			}

			&.right{
				text-align: right;
			}
		}

		input[type="checkbox"] {
			float: left;
			width: 2em;
			min-width: initial;
			margin: 0 1em 0 0;
			vertical-align: middle;
		}
	}
}

pre{
	overflow: auto;
	color: $extra-dark-glass;
}

img.font-preview {
	display: block;
	width: 416px;
	height: 152px;
}

.button-group {
	display: flex;
	justify-content: space-between;

	label{
		display: flex;
		flex-direction: column;
		align-items: center;

		span{
			font-size: 0.8em;
			line-height: 1.5;
		}
	}
}

button {
	background: $extra-dark-glass;
	color: white;
	font-size: 1.25em;
	font-weight: 100;
	border: 0;
	padding: 0.25em 0.75em;
	cursor: pointer !important;

	&:hover{
		background-color: black;
	}
}

footer{
	p{
		font-size: 0.75em;
	}
}

@keyframes partyMode {
	0%{ background-color: $red-ish;}
	14%{ background-color: $orange-ish;}
	28%{ background-color: $yellow-ish;}
	42%{ background-color: $green-ish;}
	56%{ background-color: $blue-ish;}
	70%{ background-color: $indigo-ish;}
	84%{ background-color: $violet-ish;}
	100%{ background-color: $red-ish;}
}

@media only screen and (min-width: $breakpoint) {
	header{
		#mascot{
			height: 128px;
			width: 128px;
		}

		h1{
			font-size: 2.7em;
		}
	}
}
