:root {
	color-scheme: light;
	color: #000;
	--light-gray: #ccc;
	--dark-glass: #{fade-out(#000, 0.9)};
	--extra-dark-glass: #{fade-out(#000, 0.25)};
	--light-glass: #{fade-out(#fff, 0.7)};

	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
		color: #fff;
		--light-gray: #000;
		--dark-glass: #{fade-out(#ccc, 0.8)};
		--extra-dark-glass: #{fade-out(#fff, 0.25)};
		--light-glass: #{fade-out(#000, 0.8)};
	}
}

$red-ish: HSL(0, 80%, 70%);
$orange-ish: HSL(0, 80%, 70%);
$yellow-ish: HSL(50, 80%, 70%);
$green-ish: HSL(106, 80%, 70%);
$blue-ish: HSL(229, 80%, 70%);
$indigo-ish: HSL(260, 80%, 70%);
$violet-ish: HSL(285, 80%, 70%);

$breakpoint: 40em;

body {
	font-family: sans-serif;
	box-sizing: border-box;
	margin: 0;
	background-color: var(--light-gray);

	&.party {
		background-image: url('../borksy_bg.gif');
		animation-duration: 30s;
		animation-name: partyMode;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;

		-ms-interpolation-mode: nearest-neighbor; /* IE */
		image-rendering: -moz-crisp-edges; /* FF 6.0+ */
		image-rendering: pixelated;

		#wrapper {
			backdrop-filter: contrast(0.5) blur(0.25rem);
		}
	}
}

img {
	/* https://caniuse.com/#search=image-render */
	-ms-interpolation-mode: nearest-neighbor; /* IE */
	image-rendering: -moz-crisp-edges; /* FF 6.0+ */
	image-rendering: pixelated; /* Chrome, Safari */
}

p,
span,
li {
	font-weight: 300;
	line-height: 1.5;
}

a {
	color: inherit;
	transition: opacity 0.1s ease-out;

	&:hover,
	&:focus {
		opacity: 0.8;
	}
}

div#preloader {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	background-color: var(--light-gray);
	z-index: 100;
}

img.preloader_animation {
	width: 32px;
	height: auto;
}

#wrapper {
	max-width: $breakpoint;
	max-width: max(75%, $breakpoint);
	overflow: auto;
	padding: 1em;
	margin: 0 auto;
	background-color: var(--dark-glass);
}

header,
section,
footer {
	clear: both;
	margin-bottom: 1em;
}

.collapsible {
	background: var(--light-glass);
	padding: 0 0.5rem;
	margin-bottom: 0.75em;

	&[open] {
		padding-bottom: 0.5rem;
	}

	> .collapsible_header {
		background: var(--light-glass);
		margin: 0 -0.5rem;
		padding: 0.25em 0.5em;
		min-height: 1.75rem;
		line-height: 1;
		font-size: 1.5em;
		cursor: pointer;
	}

	.collapsible {
		margin-top: 0.5rem;
		background-color: transparent;
		margin-bottom: 0;
		margin-top: 0.5em;
		border: 1px solid var(--dark-glass);

		> .collapsible_header {
			background-color: var(--dark-glass);
			font-size: 1em;
			min-height: 1em;
			padding: 0.5em;
		}

		&.included > .collapsible_header::after {
			content: ' \02705';
		}

		.collapsible {
			> .collapsible_header {
				background-color: transparent;
			}
		}
	}
}

.github-message {
	font-size: 0.75em;
	font-style: italic;
}

.warning {
	font-weight: bold;
	font-style: italic;
}

header {
	display: flex;

	#mascot {
		width: 19vw;
		height: 19vw;
		padding: 0 20px;
		background-image: url(../borksy.gif);
		background-size: contain;
		background-position: top center;
		background-repeat: no-repeat;
		cursor: grab;

		&:active {
			cursor: grabbing;
		}

		-ms-interpolation-mode: nearest-neighbor; /* IE */
		image-rendering: -moz-crisp-edges; /* FF 6.0+ */
		image-rendering: pixelated;

		&.borksyHD {
			background-image: url('../borksyHD.gif');
		}

		@media (prefers-color-scheme: dark) {
			background-image: url(../borksy-white.gif);

			&.borksyHD {
				background-image: url('../borksyHD-white.gif');
			}
		}
	}

	h1 {
		margin: 0;
		font-size: 6.3vw;
		line-height: 0.8;

		strong {
			font-size: 3em;
			display: block;
			line-height: 0.75;
			margin-left: -0.08em;
		}
	}
}

#about {
	.faq {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		blockquote {
			margin: 0;
			font-style: italic;

			> p::before,
			> p::after {
				display: inline;
				content: '"';
			}
		}
	}
}

form {
	font-weight: 300;

	label {
		display: block;
		margin: 0;
		font-family: monospace;
		line-height: 2;

		&[data-pre]::before {
			content: attr(data-pre);
			color: var(--extra-dark-glass);
		}
		&[data-post]::after {
			content: attr(data-post);
			color: var(--extra-dark-glass);
		}

		input,
		textarea {
			color: inherit;
			display: block;
			box-sizing: border-box;
			min-height: 2em;
			min-width: 2em;
			max-width: 100%;
			max-height: 80vh;
			padding: 0.25em 1em;
			font-size: 1em;
			font-family: monospace;
			background-color: var(--light-glass);
			border: 0;
			tab-size: 2;
		}

		textarea {
			width: 100%;
		}

		&.horizontal {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			> * {
				flex: auto;
			}

			> input[type="checkbox"],
			&::before,
			&::after {
				flex: none;
			}
		}
	}
}

pre {
	overflow-x: auto;
	tab-size: 2;
	white-space: pre-wrap;
	padding: 0.25em 1em;
	margin-bottom: 0;
	background-color: var(--light-glass);
}

img.font-preview {
	display: block;
	width: 100%;
	max-width: 416px;
}

.button-group {
	display: flex;
	justify-content: space-between;

	label {
		display: flex;
		flex-direction: column;
		align-items: center;

		> kbd {
			font-size: 0.8em;
		}
	}
}

button {
	background-color: var(--extra-dark-glass);
	color: var(--light-gray);
	font-size: 1.25em;
	font-weight: 100;
	border: 0;
	padding: 0.25em 0.75em;
	cursor: pointer !important;
	transition: opacity 0.1s ease-out;

	&:hover,
	&:focus {
		opacity: 0.8;
	}
}

footer {
	p {
		font-size: 0.75em;
	}
}

@keyframes partyMode {
	0% {
		background-color: $red-ish;
		background-position: 0 0;
	}
	14% {
		background-color: $orange-ish;
	}
	28% {
		background-color: $yellow-ish;
	}
	42% {
		background-color: $green-ish;
	}
	56% {
		background-color: $blue-ish;
		background-position: 256px 128px;
	}
	70% {
		background-color: $indigo-ish;
	}
	84% {
		background-color: $violet-ish;
	}
	100% {
		background-color: $red-ish;
		background-position: 0 256px;
	}
}

@media only screen and (min-width: $breakpoint) {
	header {
		#mascot {
			height: 128px;
			width: 128px;
		}

		h1 {
			font-size: 2.7em;
		}
	}
}

@media (prefers-reduced-motion) {
	#mascot {
		display: none;
	}
}
